<html>
<head>
    <style type="text/css">
        
        table {
            border-spacing: 0;
        }
        
        tr.odd td {
            background: #E2F6FB;
        }
        
        .name {
            font-weight: bold;
        }
        .value {
            
        }
        
    </style>
</head>
<body>
    <table>
        {% for e in events %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td class="name">{{ e.name }}</td>
                <td class="value">{{ e.eventJson }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>