<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="6"
	android:versionName="0.06"
    package="org.streetpacman">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />    

    <application android:label="@string/activity_sample_code"
            android:icon="@drawable/pacman_on_mac_twitter_logo" >

		<uses-library android:name="com.google.android.maps" />
		<activity android:name="org.streetpacman.DMWizard" android:label="Wizard">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
			</intent-filter>
		</activity>
		
       <activity android:name="org.streetpacman.DMLauncher" android:label="Street Pacman">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>
       </activity>

        <activity android:name="org.streetpacman.DMMapView" android:label="MapView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name="org.streetpacman.DMStreetPacman" android:label="Street Pacman">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
   </application>
   <uses-sdk android:minSdkVersion="8" />
</manifest>
