<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="10" android:versionName="0.0.10" package="org.streetpacman">

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

	<application android:label="@string/app_name"
		android:icon="@drawable/pacman_on_mac_twitter_logo">

		<uses-library android:name="com.google.android.maps" />

		<activity android:name="org.streetpacman.DMLoading"
			android:screenOrientation="nosensor" android:label="Loading" />
		<activity android:name="org.streetpacman.DMGamesList"
			android:label="Games List" />

		<activity android:name="org.streetpacman.DMBoard"
			android:screenOrientation="nosensor" android:label="Street Pacman Map" />

		<activity android:name="org.streetpacman.DMStreetPacman"
			android:label="Street Pacman">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER"></category>
				<action android:name="android.intent.action.MAIN"></action>
			</intent-filter>
		</activity>

	</application>
	<uses-sdk android:minSdkVersion="8" />
</manifest>
