<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% url dotmuncher_css %}" />
  {% block head %}{% endblock %}
  <script type="text/javascript" charset="utf-8">
      var byId = function(s) {
          return document.getElementById(s);
      };
  </script>
</head>
<body onload="if (window.init) { init(); }">
  
  <div class="navbar">
    {##########/* TODO min width */##########}
    <a class="logo" href="{% url index %}">Street Pacman</a>
    <a href="{% url games %}">Games</a>
    <a href="{% url maps %}" class="navbar_boards">Boards</a>
    <a href="{% url intro %}">Introduction</a>
    <a href="{% url iphone %}">iPhone</a>
    <a href="{% url android %}">Android</a>
  </div>
  
  <div class="base_content">
    {% block content %}{% endblock %}
  </div>
  {% comment %}
  <div class="footer">
    <center>
        <a href="{% url about %}">About</a> &mdash;
        <a href="{% url privacy %}">Privacy Policy</a> &mdash;
        <a href="#TODO">Facebook</a> &mdash;
        <a href="#TODO">Twitter</a>
    </center>
  </div>
  {% endcomment %}
</body>
</html>