{% extends "dotmuncher/base.html" %}
{% block title %} :: Game{% endblock %}
{% block head %}


<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.1&amp;sensor=false"></script>

<script type="text/javascript" src="{% url dotmuncher_js %}"></script>

<script type="text/javascript">
    
    var init = function() {
        
        dotmuncher.init();
        
        var info = {
          zoom: 16,
          navigationControl: false,
          mapTypeControl: false,
          scaleControl: false,
          center: new google.maps.LatLng(40.730958,-73.997008),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(byId("mapcanvas"), info);
        
        new dotmuncher.GameViewer(
                            map,
                            {{ game.id }},
                            byId('toolbar_container'),
                            byId('overlay_container'),
                            {{ map.infoJson|safe }});
    }
    
</script>


<style type="text/css">
    
    body {
      background: #666;
    }
    
</style>
{% endblock %}
{% block content %}
    
    <center>
        <h2>Game #{{ game.id }} on map #{{ map.id }}</h2>
    </center>
    
    <div id="toolbar_container"></div>
    <div id="overlay_container">
        <div id="mapcanvas"></div>
    </div>
    
{% endblock %}