{% extends "dotmuncher/base.html" %}
{% block title %}TODO title{% endblock %}
{% block head %}


<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.1&amp;sensor=false"></script>

<script type="text/javascript" src="{% url dotmuncher_js %}"></script>

<script type="text/javascript">
    
    var $ = function(s) {
        return document.getElementById(s);
    }
    
    var init = function() {
        
        dotmuncher.init();
        
        createMap();
        
        new dotmuncher.GameViewer(
                            $('game_toolbar_container'),
                            $('game_overlay_container'),
                            {{ map.infoJson|safe }});
    }
    
    var createMap = function() {
        var latlng = new google.maps.LatLng(40.730958,-73.997008);
        var myOptions = {
          zoom: 16,
          navigationControl: false,
          mapTypeControl: false,
          scaleControl: false,
          center: latlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map($("game_mapcanvas"),
            myOptions);
        dotmuncher.map = map;
    }
    
</script>


<style type="text/css">
    
    
    
</style>
{% endblock %}
{% block onload %} onload="init();"{% endblock %}
{% block content %}
    
    <center>
        <h2>Game #{{ game.id }} on map #{{ map.id }}</h2>
    </center>
    
    <div id="game_toolbar_container"></div>
    <div id="game_overlay_container">
        <div id="game_mapcanvas"></div>
    </div>
    
{% endblock %}